  header {
      text-align: center;
      background: url('https://lh3.google.com/u/0/d/0BxdNWwxCXD0FcXdNVmwwbVh6RXc=w1680-h827-iv1');
      background-size: cover;
      color: white;
    }
 h1 {
   text-align: center;
   font-family: 'Lobster', cursive;
    }  
h2 {
font-family: 'Lobster', cursive;
}
 body{
       color: white;
       font-family: 'Oswald', sans-serif;
       background: rgb(25,71,105);
 }
 img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
} 
.mainlist {
      padding: 10px;
      background: rgba(0,0,0,0.5);
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a {
      color: white;
    }
  article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
 
